* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #270979;
  --secondary-color: #db00ff;
  --tertiary-color: #002402;
}
/* body {
  background: rgb(0, 36, 2);
  background: linear-gradient(
    90deg,
    rgba(0, 36, 2, 1) 0%,
    rgba(39, 9, 121, 1) 40%,
    rgba(219, 0, 255, 0.4929681345194328) 98%
  );
} */
.header-content {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.header-wrapper {
  width: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background: rgb(0, 36, 2);
  background: linear-gradient(
    90deg,
    rgba(0, 36, 2, 1) 0%,
    rgba(39, 9, 121, 1) 40%,
    rgba(219, 0, 255, 0.4929681345194328) 100%
  );
  width: 100%;
  padding: 3rem 0;
}
.name {
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: var(--secondary-color);
}
.header-img {
  width: 300px;
  border-radius: 50px;
  padding-right: 5px;
}
.banner {
  /* background: rgb(0, 36, 2);
  background: linear-gradient(
    90deg,
    rgba(0, 36, 2, 1) 0%,
    rgba(39, 9, 121, 1) 40%,
    rgba(219, 0, 255, 0.4929681345194328) 98%
  ); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.banner-title {
  color: var(--primary-color);
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  padding-right: 4rem;
}
.headers {
  color: var(--secondary-color);
  font: 30px bolder;
  font-family: Arial, Helvetica, sans-serif;
  width: 30rem;
  font-weight: bolder;
}
.contact-me-header {
  color: var(--secondary-color);
  font: 30px bolder;
  font-family: Arial, Helvetica, sans-serif;
  width: 30rem;
  font-weight: bolder;
}
.first-image img {
  width: 807px;
  border-radius: 10px;
}
.other-images img {
  width: 400px;
  height: 200px;
  margin: 5px 5px 5px 0;
  border-radius: 10px;
}

.info-section {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px 0px 35px;
  margin: 0 0 0 5.9rem;
  border-left: var(--secondary-color) solid 2px;
  font-size: 20px;
  color: turquoise;
  font-weight: bolder;
}
#about-me {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin-top: 3rem;
}
#work {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  width: 100%;
  /* padding: 0 29px 0 10px; */
  max-width: 1200px;
}
.border {
  border-left: var(--secondary-color) solid 2px;
  padding-left: 2.5rem;
}
.fixline {
  text-decoration: none;
}
#contact-me {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 35px;
  background: var(--primary-color);
}
.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
.anchor {
  margin: 0 30px;
  color: var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px;
}
.anchor:hover {
  background-color: turquoise;
  opacity: 80%;
}
.anchor:focus {
  background-color: turquoise;
  opacity: 50%;
}
.first-image:hover,
.smaller-img:hover {
  opacity: 50%;
}
.first-image:focus,
.smaller-img:focus {
  opacity: 25%;
}

@media screen and (max-width: 980px) {
  .name {
    font-size: 25px;
  }
  .first-image img {
    width: 410px;
    max-width: 430px;
  }
  .other-images img {
    width: 200px;
  }
  #work {
    max-width: 700px;
  }
  #about-me {
    max-width: 700px;
  }
  .headers {
    font-size: 20px;
  }
  .anchor {
    font-size: 15px;
  }
  .footer-content {
    max-width: 700px;
  }
  .banner {
    max-width: 700px;
  }
  .header-img {
    width: 175px;
    border-radius: 25px;
  }
  .banner-title {
    font-size: 20px;
  }
  .info-section {
    font-size: 11px;
  }
  .header-content {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .name {
    font-size: 20px;
  }
  .first-image img {
    width: 200px;
    height: 200px;
  }
  .other-images img {
    width: 200px;
  }
  #work {
    max-width: 550px;
  }
  #about-me {
    max-width: 550px;
  }
  .headers {
    font-size: 18px;
  }
  .anchor {
    font-size: 12px;
  }
  .footer-content {
    max-width: 550px;
  }
  .banner {
    max-width: 550px;
  }
  .header-img {
    width: 175px;
    border-radius: 25px;
  }
  .banner-title {
    font-size: 20px;
  }
  .info-section {
    font-size: 10px;
    padding-right: 5rem;
  }
  .header-content {
    max-width: 550px;
  }
}
@media screen and (max-width: 575px) {
  .footer-content {
  max-width: 320px;
  display: block;
  }
  #contact-me {
    max-width: 100%;
    padding: 20px 0;
  }
  .anchor {
    margin: 0;
    
  }
  #work {
    display: block;
  }
  #about-me {
    display: block;
    align-items: center;
    text-align: center;
  }
  .border {
    border-left: none;
    padding: 5px 0 10px 0;
    text-align: center;
    border-top: turquoise solid 2px;
  }
  .info-section {
    border-left: none;
    text-align: center;
    padding: 5px 10px 0 10px;
    margin: 0;
    font-size: 12px;
    border-top: turquoise 2px solid;
  }
  .headers {
   text-align: center;
   max-width: 100%;
   padding-bottom: 5px;
  }
  .wrapper {
    display: block;
    padding: 0;
  }
  .contact-me-header {
    text-align: center;
    max-width: 320px;
    font-size: 18px;
  
  }
  .banner-title {
    padding: 0;
   color: turquoise;
  }
  .banner {
    padding: 0;
    display: block;
    text-align: center;
  }
  .header-img {
    border-radius: 0;
    width: 100%;
    padding-right: 0;
  }
  .header-content {
    max-width: 320px;
    display: block;
   text-align: center;
  }
}
